<%= simple_form_for @question do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :user, value: @current_user.id%>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :prize %>
        <%= f.input :response_cost%>        
        <%= f.input :closing_date_and_time %>
        <%= f.input :explaination_photo%>    
        <%= f.submit %>
        <button><%= link_to "Cancel", root_path %></button>
<% end %>