<h1> Edit question </h1>
<%= simple_form_for @question do |f| %>
        <%= f.error_notification %>
        <%= f.input :title %>
        <%= f.input :description %>       
        <%= f.input :closing_date_and_time, :as => :datetime %>
        <%= f.input :explaination_photo%>    
        <%= f.submit %>
        <button><%= link_to "Cancel", root_path %></button>
<% end %>