<h1>Show page</h1>

<p><%= @question.title %></p>
<p><%= @question.description  %></p>
<div>
<%= @question.prize %> 
|
<%= @question.response_cost %> 
</div>
<% time_remaining = @question.closing_date_and_time - DateTime.now%>
<strong>Time remaining: </strong><%= ActiveSupport::Duration.build(time_remaining.round).inspect %>
<% if @question.explaination_photo.attached? %>
    <p><%= cl_image_tag @question.explaination_photo.key, crop: :scale, width: 150, cloud_name: 'bene' %></p>
<% end %>



<% if policy(Question).destroy? %>
    <p><%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure you would like to delete this question?"} %></p>
<% end %>


<%= form_with model: @comment, local: true do |f| %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.text_area :body, placeholder: "add a comment" %>
    <%= f.submit %>
<% end %>

<% @question.comments.each do |comment| %>
    <p><%= comment.body %></p>
   <%= pluralize(comment.likes.count, "like")%>
    <% if user_signed_in? %>
        <% if comment.liked?(current_user) %>
            <%= button_to "Like", like_path(comment), method: :post, disabled: true%>
        <% else %>
            <%= button_to "Like", like_path(comment), method: :post%>
        <% end %>
    <% end %>
    <% if policy(Comment).destroy? %>
        <h5><%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure you would like to delete this comment?"}%></h5>
    <% end %>
<% end %>
