<h1>Show page</h1>
<p>Posted by: <strong><%= @question.user.username%></strong></p>
<p><%= @question.title %></p> 
<p><%= @question.description  %></p>
<div>
<%= @question.prize %> 
|
<%= @question.response_cost %> 
</div>
<% if @active %>
    <%time_remaining = @question.closing_date_and_time - DateTime.now%>
    <strong>Time remaining:</strong><%= ActiveSupport::Duration.build(time_remaining.round).inspect %>
<% else %>
    <strong>Time remaining:</strong> QUESTION CLOSED
<%end%>
<% if @question.explaination_photo.attached? %>
    <p><%= cl_image_tag @question.explaination_photo.key, crop: :scale, width: 500, cloud_name: 'bene' %></p>
<% end %>

<% if policy(Question).destroy? %>
    <p><%= link_to "Delete Question", question_path(@question), method: :delete, data: {confirm: "Are you sure you would like to delete this question?"} %></p>
<% end %>
<% if policy(@question).edit? %>
    <p><%= link_to "Edit Question", edit_question_path(@question) %></p>
<% end %>


<% if @active %>
    <%= form_with model: @comment, local: true do |f| %>
        <%= f.hidden_field :question_id, value: @question.id %>
        <%= f.text_area :body, placeholder: "add a comment" %>
        <%= f.submit %>
    <% end %>
<% end %>
<hr>
<% @comments.each do |comment| %>
    <span> Posted by: <strong><%= truncate(comment.user.username, :length => 100)%></strong></span>
    <p><%= comment.body %></p>
   <%= pluralize(comment.likes.count, "like")%>
    <% if user_signed_in? && @question.user_id != current_user.id && @question.active %>
        <% if comment.liked?(current_user) %>
            <%= button_to "Unlike", like_path(comment), method: :delete%>
        <% else %>
            <%= button_to "Like", like_path(comment), method: :post%>
        <% end %>
    <% end %>
    <% if policy(Comment).destroy? %>
        <h5><%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure you would like to delete this comment?"}%></h5>
    <% end %>
    <hr>
<% end %>
<% if @question.comments.count == 0 && @question.active %>
    <h1>🐶</h1>
    <h3>Wow, such empty </h3>
<% elsif @question.comments.count == 0 && !@question.active %>
    <h3>No one responded to this question :(</h3>
<% end %>
