<h1>Tie breaker</h1>
<p>Your question "<strong><%= @question.title %></strong>" ended in a tie. Please choose your favourite response and we will give the price to them. </p>
<p>worth: $<%= @question.prize%></p>
<div class="d-flex align-content-stretch flex-wrap justify-content-around">
  <% @questions_that_need_tie_breaking.each do |comment|%>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Posted by: <%= comment.user.username %></h5>
      <p class="card-text"><%= comment.body%></p>
      <p class="card-text"><%= pluralize(comment.likes.count, "like")%></p>
      <%= button_to "like", final_like_path(comment), method: :post, class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>





 