<h1>Tie breaker</h1>
<%= @question.title %>
<% @questions_that_need_tie_breaking.each do |comment|%>

  <span> Posted by: <strong><%= truncate(comment.user.username, :length => 100)%></strong></span>
  <p><%= comment.body %></p>
  <%= pluralize(comment.likes.count, "like")%>
  <%= button_to "like", final_like_path(comment), method: :post %>
<% end %>