<!DOCTYPE html>
<html>
  <head>
    <title>IdeaLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" defer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous" defer></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container db-flex">
    <h1><%= link_to "Home", root_path %></h1>
    <h1><%= link_to "Closed Questions", closed_questions_index_path %> </h1>
    <% if current_user %>
      <%= current_user.username%> | 
      $<%= current_user.balance.round(2) %> | 
      <%= current_user.email %>
      |
      <%= link_to "Logout", destroy_user_session_path, method: :delete	%>
    <% else %>
      <%= link_to "Sign_in", new_user_session_path %>
      |
      <%= link_to "Sign_up", new_user_registration_path %>
    <% end %>




    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if flash[:errors] %>
      <section class="errors">
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
